* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno {
    padding: 0 50px;
}

.header {
    background: url(../img/platter.png);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .5);

    /* opacity: 0.702; */
    /* width: 1920px;
    height: 133px; */
    /* background-color: #000000; */
    
}

    .logo {
        flex: 1 1 auto;
    }

    .logo a {
        color: #fff;
        font-size: 30px;
    }

    .logo a:hover {
        color: #343434;
    }

    .nav{
            /* background: #ea5455; */
            flex: 5 1 auto;
            /* height: 30px; */
        }
             .nav a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
             }

             .nav a:hover{
                color:#343434;
             }
        .social{
            /* background: #ea5455; */
            flex: 1 1 auto;
            display: flex;
            /* height: 30px; */
        }
            .social a{
                font-size: 18px;
                color: #fff;
                padding: 0 5px;
            }

            .social a:hover{
                color: #343434;
            }