/* =========== GOOGLE FONTS open sans,*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*===== VARIABLES CSS =====*/

:root {
    /* colors */
    --color1: #c59d5f
    /* font and typography */
    --font-montserrat: 'Montserrat', sans-serif;
    /* z index */
    --global-z-fixed: 99;
    /* paddings */
    --padding-container: 15px
}


/*========== BASE ==========*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* ============ SELECTORS ============= */

.container {
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    max-width: 1190px;
    margin: 0 auto;
}


/* ============ start heading section ============*/

.heading {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.heading .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--padding-container);
    padding-bottom: var(--padding-container);
}

.heading--background {
background-color: #000;
opacity: 0.70;
}

.logo {
    display: flex;
    align-items: center;
}

.heading input {
    display: none;
}

.heading .heading__toggle {
    display: none;
}

.navbar {
    min-width: 541px;
    padding-left: 5px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a:after,
.navbar ul li a:before {
    transition: all .5s;
}

.navbar ul li a {
    padding: 10px;
    font-size: 13px;
    letter-spacing: 0px;
    color: var(--color1);
    font-weight: 900;
    font-family: var(--font-Roboto);
    text-transform: uppercase;
    position: relative;
}

.navbar ul li:last-child a {
    padding-right: 0;
}

.navbar ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--color1);
    height: 1px;
}

.navbar ul li a:hover:after {
    width: 100%;
}

.navbar ul li .active {
    color: var(--color2);
}


/* ============ end heading section ============*/
